# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


backend/backend

# Database files
*.db
*.db-journal
*.sqlite
*.sqlite3
backend/snake_game.db
.env
archive

# Generated deployment files
infrastructure/manifest/workloads/backend/backend-deployment.yaml
infrastructure/manifest/workloads/frontend/frontend-deployment.yaml

# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/tfplan
infrastructure/terraform/tfplan.json
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.*
infrastructure/terraform/.terraform.tfstate.lock.info
set_env_test.sh
setup.sh
deploy.sh