name: Deploy to GKE

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


env:
  PROJECT_ID: nabuminds-test
  GKE_CLUSTER: general-cluster
  GKE_REGION: europe-west3
  GKE_NAMESPACE: snake-game
  REPOSITORY: snake-game

jobs:
################################################################################################### BACKEND TESTING JOBS ########################################################################################################
  backend-test:
    name: Run Backend Tests
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Python dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run backend tests
        working-directory: ./backend
        run: |
          pytest tests/ -v

################################################################################################### FRONTEND TESTING JOBS ########################################################################################################
  frontend-test:
    name: Run Frontend Tests
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Run frontend tests
        working-directory: ./frontend
        run: npm test -- --run

################################################################################################### INTEGRATION TESTING JOBS ########################################################################################################
  integration-test:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    needs: [backend-test , frontend-test]
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Python dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run backend tests
        working-directory: ./backend
        run: |
          pytest tests_integration/ -v

################################################################################################### TERRAFORM VALIDATE JOBS ########################################################################################################
  terraform-validate:
    name: Terraform Validate
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    needs: integration-test
    permissions:
      contents: 'read'
      id-token: 'write'
    defaults:
      run:
        working-directory: ./infrastructure/terraform
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v3'
        with:
          service_account: 'terraform-test-deployment@nabuminds-test.iam.gserviceaccount.com'
          workload_identity_provider: 'projects/563370139005/locations/global/workloadIdentityPools/bitbucket/providers/repository'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Terraform Validate
        run: |
          echo "yes" | terraform init 
          echo "yes" | terraform validate 

################################################################################################### TERRAFORM PLAN JOBS ########################################################################################################
  terraform-plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    needs: terraform-validate
    if: github.event_name == 'pull_request'
    permissions:
      contents: 'read'
      id-token: 'write'
    defaults:
      run:
        working-directory: ./infrastructure/terraform
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v3'
        with:
          service_account: 'terraform-test-deployment@nabuminds-test.iam.gserviceaccount.com'
          workload_identity_provider: 'projects/563370139005/locations/global/workloadIdentityPools/bitbucket/providers/repository'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Install conftest
        run: |
          LATEST_VERSION=$(wget -O - "https://api.github.com/repos/open-policy-agent/conftest/releases/latest" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/' | cut -c 2-)
          ARCH=$(arch)
          SYSTEM=$(uname)
          wget "https://github.com/open-policy-agent/conftest/releases/download/v${LATEST_VERSION}/conftest_${LATEST_VERSION}_${SYSTEM}_${ARCH}.tar.gz"
          tar xzf conftest_${LATEST_VERSION}_${SYSTEM}_${ARCH}.tar.gz
          mv conftest /usr/local/bin

      - name: Terraform Init
        run: |
          echo "yes" | terraform init 
          echo "yes" | terraform plan -out=tfplan 
          terraform show -json tfplan > tfplan.json 
          ls

      - name: Run Conftest
        run: |
          conftest test --policy ../../policy tfplan.json --all-namespaces  

